Deprecated==1.2.18
xxhash==3.5.0
ujson==5.10.0
paramiko==3.5.1
wandb==0.19.8
oauthlib==3.2.2
lm-dataformat==0.0.20
datasets==3.3.2
aiohappyeyeballs==2.6.1
wrapt==1.17.2
optimum==1.24.0
trl==0.15.2
huggingface-hub==0.29.3
pyarrow==19.0.1
frozenlist==1.5.0
transformers==4.49.0
setproctitle==1.3.5
dill==0.3.8
rich==13.9.4
zstandard==0.23.0
uuid==1.30
markdown-it-py==3.0.0
aiosignal==1.3.2
yarl==1.18.3
tokenizers==0.21.1
kubernetes==32.0.1
accelerate==1.5.1
peft==0.14.0
opencv-python-headless==4.11.0.86
ftfy==6.3.1
propcache==0.3.0
safetensors==0.5.3
bitsandbytes==0.45.3
multiprocess==0.70.16
docker-pycreds==0.4.0
mdurl==0.1.2
durationpy==0.9
jsonlines==4.0.0
vessl==0.1.191
async-timeout==5.0.1
aiohttp==3.11.13
regex==2024.11.6
pip==25.0.1
multidict==6.1.0
triton==2.3.1
fsspec==2024.2.0
nvidia-nvjitlink-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-curand-cu12==10.3.2.106
nvidia-cuda-nvrtc-cu12==12.1.105
sympy==1.12
torch==2.3.1+cu121
nvidia-nvtx-cu12==12.1.105
nvidia-cusparse-cu12==12.1.0.106
torchvision==0.18.1+cu121
mpmath==1.3.0
nvidia-nccl-cu12==2.20.5
networkx==3.2.1
nvidia-cublas-cu12==12.1.3.1
torchaudio==2.3.1+cu121
nvidia-cusolver-cu12==11.4.5.107
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cufft-cu12==11.0.2.54
filelock==3.13.1
stack-data==0.6.3
notebook_shim==0.2.4
jupyter-events==0.10.0
pandocfilters==1.5.1
gitdb==4.0.11
arrow==1.3.0
nbconvert==7.16.4
jupyter_server_terminals==0.5.3
parso==0.8.4
platformdirs==4.2.2
uri-template==1.3.0
jupyter_client==8.6.2
jupyter-lsp==2.2.5
tornado==6.4.1
jupyterlab_server==2.27.3
nest-asyncio==1.6.0
webencodings==0.5.1
python-json-logger==2.0.7
defusedxml==0.7.1
argon2-cffi-bindings==21.2.0
httpx==0.27.0
types-python-dateutil==2.9.0.20240316
jupyterlab_pygments==0.3.0
jupyterlab_widgets==3.0.11
argon2-cffi==23.1.0
asttokens==2.4.1
rfc3339-validator==0.1.4
referencing==0.35.1
bleach==6.1.0
ptyprocess==0.7.0
attrs==24.2.0
ipykernel==6.29.5
pure_eval==0.2.3
fqdn==1.5.1
executing==2.0.1
jupyter-server-mathjax==0.2.6
rpds-py==0.20.0
isoduration==20.11.0
Send2Trash==1.8.3
overrides==7.7.0
terminado==0.18.1
rfc3986-validator==0.1.1
jsonschema==4.23.0
tinycss2==1.3.0
prompt_toolkit==3.0.47
jupyter_core==5.7.2
widgetsnbextension==4.0.11
jsonpointer==3.0.0
GitPython==3.1.43
babel==2.16.0
ipython==8.26.0
comm==0.2.2
MarkupSafe==2.1.5
fastjsonschema==2.20.0
jupyterlab==4.2.4
jedi==0.19.1
beautifulsoup4==4.12.3
nbformat==5.10.4
traitlets==5.14.3
jupyter_server==2.14.2
async-lru==2.0.4
soupsieve==2.5
jsonschema-specifications==2023.12.1
Pygments==2.18.0
ipywidgets==8.1.3
nbdime==4.0.1
matplotlib-inline==0.1.7
debugpy==1.8.5
Jinja2==3.1.4
smmap==5.0.1
decorator==5.1.1
mistune==3.0.2
tomli==2.0.1
httpcore==1.0.5
nbclient==0.10.0
pyzmq==26.1.0
pexpect==4.9.0
json5==0.9.25
jupyterlab_git==0.50.1
webcolors==24.8.0
blessed==1.20.0
anyio==3.7.1
PyYAML==6.0.2
colorama==0.4.6
google-cloud-core==2.4.1
click==8.1.7
cloudpickle==1.6.0
google-auth==2.33.0
pydantic==2.8.2
timeago==1.0.16
sentry-sdk==2.12.0
shortuuid==1.0.13
prometheus_client==0.20.0
sshpubkeys==3.3.1
bcrypt==4.2.0
s3transfer==0.10.2
proto-plus==1.24.0
boto3==1.34.159
tabulate==0.9.0
python-dotenv==1.0.1
xmod==1.8.1
charset-normalizer==3.3.2
runs==1.2.2
pyasn1_modules==0.4.0
termcolor==2.4.0
annotated-types==0.7.0
starlette==0.27.0
pyasn1==0.6.0
numpy==1.24.4
requests-oauthlib==2.0.0
cachetools==5.4.0
pydantic_core==2.20.1
cffi==1.17.0
ecdsa==0.19.0
watchdog==3.0.0
google-cloud-storage==2.18.2
readchar==4.2.0
spinners==0.0.24
toml==0.10.2
log-symbols==0.0.14
PyNaCl==1.5.0
certifi==2024.7.4
exceptiongroup==1.2.2
uvicorn==0.30.5
google-crc32c==1.5.0
sniffio==1.3.1
wcwidth==0.2.13
jmespath==1.0.1
google-resumable-media==2.7.2
psutil==5.9.8
schema==0.7.7
h11==0.14.0
requests==2.32.3
typing_extensions==4.12.2
halo==0.0.31
editor==1.6.6
Brotli==1.1.0
googleapis-common-protos==1.63.2
google-api-core==2.19.1
urllib3==2.2.2
fastapi==0.104.1
pycparser==2.22
inquirer==3.4.0
docker==7.1.0
terminaltables==3.1.10
protobuf==5.27.3
humanfriendly==10.0
botocore==1.34.159
pynvml==11.5.3
idna==3.7
requests-futures==1.0.1
rsa==4.9
websocket-client==1.8.0
matplotlib==3.9.2
kiwisolver==1.4.5
seaborn==0.13.2
opencv-python==4.10.0.84
contourpy==1.2.1
threadpoolctl==3.5.0
python-dateutil==2.9.0.post0
scikit-learn==1.5.1
tqdm==4.66.5
pandas==2.2.2
scipy==1.14.0
packaging==24.1
tzdata==2024.1
cycler==0.12.1
pillow==10.4.0
pytz==2024.1
fonttools==4.53.1
joblib==1.4.2
setuptools==72.1.0
wheel==0.44.0
PyGObject==3.42.1
ssh-import-id==5.11
jeepney==0.7.1
python-apt==2.4.0+ubuntu3
unattended-upgrades==0.1
SecretStorage==3.3.1
lazr.uri==1.0.6
keyring==23.5.0
distro==1.7.0
blinker==1.4
six==1.16.0
PyJWT==2.3.0
lazr.restfulclient==0.14.4
more-itertools==8.10.0
zipp==1.0.0
launchpadlib==1.10.16
dbus-python==1.2.18
cryptography==3.4.8
httplib2==0.20.2
importlib-metadata==4.6.4
wadllib==1.3.6
pyparsing==2.4.7
distro-info==1.1+ubuntu0.2
